%header
	= image_tag 'frown_red.png'
	%div
		%h1
			%span No Smiles For War
		%p It's simple: your profile picture should not show you smiling, so long as your country is the <b>aggressor in an unjust war</b>.

%section
	%h2 What can I do?
	%ul
		%li Join the Facebook group: #{link_to 'No Smiles For War', 'https://www.facebook.com/groups/nosmilesforwar/'}
		%li Use a non-smiling profile picture from time to time (here are some #{link_to 'resources', 'resources'})

%section
	%h2 Related Links
	%ul
		%li #{link_to 'Drone attacks', 'http://youtu.be/_NhULIJ4ZPg'}: this is the video that inspired me to stop smiling on Facebook.

%footer
	%span
		created by #{mail_to 'eric@nosmilesforwar.com', 'Eric Wadsworth'},
		design by #{mail_to 'justin@nosmilesforwar.com', 'Justin Workman'}
